<main class="flex">
  <header class="bg-black h-[100vh] w-[50vh]"></header>

  <body class="grid justify-center items-center ml-[50vh]">
    <div>
      <div class=" grid gap-4">
        <p class="text-[#000] text-[40px]">เข้าสู่ระบบ</p>
        <span>อีเมล์</span>
        <input type="text"
          class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
          placeholder="กรุณากรอกข้อมูล" />
        <span>รหัสผ่าน</span>
        <input type="text"
          class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
          placeholder="กรุณากรอกข้อมูล" />
        <button class="text-start w-40 h-[50px]  rounded-md shadow-md border-[1px] justify-center grid pt-3">
          <p>เข้าสู่ระบบ</p>
        </button>
      </div>
    </div>
  </body>
  <footer></footer>
</main>
