<!-- <p>Manager Page</p> -->

<!-- <th>11</th>

<div *ngFor="let i of [1, 2, 3, 4, 5]">
  <th>{{ i }}</th>
</div> -->
<!--
<div *ngFor="let i of m">
  {{ i }}
</div> -->

<!-- <div *ngFor="let i of numbers">
  {{ i }}
</div> -->

<!-- <div *ngFor="let i of LOOP_TABLE" class="gird">
  <ng-container *ngFor="let item of i.name">
    <div>{{ item }}</div>
  </ng-container>
</div>

<div *ngFor="let i of LOOP_TABLE" class="gird">
  <ng-container *ngFor="let item of i.name">
    <div>{{ item }}</div>
  </ng-container>
</div> -->

<!-- <div *ngFor="let i of numbers">
  {{ i }}
</div> -->

<!--
<ul>
  <li *ngFor="let number of numbers">{{number}}</li>
</ul> -->


<!-- <main>
  <header></header>
  <body>
    <div class="bg-slate-200 h-20">s
    </div>
  </body>
  <footer></footer>
</main> -->

<main>
  <header>
    <div>
      <div class="w-full h-[25rem] flex justify-center items-center bg-slate-100">
        <div class="grid gap-5">
          <div class="flex justify-center items-center gap-5">
            <select
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500">
              <option value="" selected disabled>Category</option>
              <!-- <ng-container *ngFor="let option of dropdown">
                <option [value]="option.value">
                  <span>{{ option.value }}</span>
                </option>
              </ng-container> -->
            </select>
          </div>
          <div class="flex gap-5 justify-center items-center">
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="Please fill out Gesture" />
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="Please fill out Upload Image / Video" />
          </div>
          <div class="flex justify-center items-center">
            <textarea type="text"
              class="rounded-md w-full h-28 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 max-h-28 min-h-[112px] pt-3 text-ellipsis"
              placeholder="Please fill out Description"></textarea>
          </div>
          <div class="flex justify-center items-center">
            <div class="flex gap-5 justify-center items-center">
              <button
                class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-blue-500 bg-blue-300 hover:text-slate-100 hover:w-[21rem]"
                style="transition: 0.5s">
                + Add
              </button>
            </div>
            <div class="flex gap-5 justify-center items-center">
              <button
                class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-yellow-500 bg-yellow-300 hover:text-slate-100 hover:w-[21rem]"
                style="transition: 0.5s">
                + Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <body>
    <!-- <app-table [data]="_data || []" class="table-class flex-auto">
      <ng-template #headers let-item>
        <tr>
          <th class="text-center" [colSpan]="1">Num.</th>
          <th class="text-center border-none" [colSpan]="1">Vocabulary.</th>
          <th class="text-center" [colSpan]="2">Description.</th>
          <th class="text-center" [colSpan]="1">Category.</th>
          <th class="text-center" [colSpan]="1">Manager.</th>
        </tr>
      </ng-template>
      <ng-template #rows let-item>
        <tr *ngFor="let row of item; let i = index">
          <td class="text-center" [colSpan]="1">{{ i + 1 }}</td>
          <td class="text-center" [colSpan]="1">{{ row.Gesture }}</td>
          <td class="text-center" [colSpan]="2">{{ row.Description }}</td>
          <td class="text-center" [colSpan]="1">{{ row.Category }}</td>
          <td class="text-center" [colSpan]="1">
            <div class="flex gap-5 justify-center items-center">
              <div
                (click)="Delete(row, dropdownData.value)"
                class="shadow-md rounded-md px-5 bg-red-300 hover:bg-red-500 cursor-pointer"
                style="transition: 0.5s"
              >
                <hero-icon
                  name="trash"
                  type="outline"
                  class="text-slate-100 h-6 w-6 mt-2"
                ></hero-icon>
              </div>
              <div
                (click)="pull(row, dropdownData.value)"
                class="shadow-md rounded-md px-5 bg-yellow-300 hover:bg-yellow-500 cursor-pointer"
                style="transition: 0.5s"
              >
                <hero-icon
                  name="cog"
                  type="outline"
                  class="text-slate-100 h-6 w-6 mt-2"
                ></hero-icon>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </app-table> -->
  </body>
  <footer></footer>
</main>
