<main class="p-10">
  <header>
    <div class="flex gap-2">
      <p class="text-[26px]">แผงควบคุม</p>
      <span class="mt-[11px] text-slate-400">แผงควบคุม</span>
    </div>
  </header>

  <body class="grid gap-5 mt-10">

  </body>

  <footer>
    <main>
      <header>
        <div>
          <p class="mb-3">จัดการผู้ใช้งาน</p>
          <div class="w-full h-[25rem] flex justify-center items-center bg-slate-100 border-[1px] rounded-md">
            <div class="grid gap-5">
              <div class="flex justify-center items-center gap-5">
                <select
                  class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500">
                  <option value="" selected disabled>Category</option>
                  <ng-container *ngFor="let option of dropdown">
                    <option [value]="option.value">
                      <span>{{ option.value }}</span>
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="flex gap-5 justify-center items-center">
                <input type="text"
                  class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
                  placeholder="Please fill out Gesture" />
                <input type="text"
                  class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
                  placeholder="Please fill out Upload Image / Video" />
              </div>
              <div class="flex justify-center items-center">
                <textarea type="text"
                  class="rounded-md w-full h-28 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 max-h-28 min-h-[112px] pt-3 text-ellipsis"
                  placeholder="Please fill out Description"></textarea>
              </div>
              <div class="flex justify-center items-center">
                <div class="flex gap-5 justify-center items-center">
                  <button
                    class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-blue-500 bg-blue-300 hover:text-slate-100 hover:w-[21rem]"
                    style="transition: 0.5s">
                    + Add
                  </button>
                </div>
                <div class="flex gap-5 justify-center items-center">
                  <button
                    class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-yellow-500 bg-yellow-300 hover:text-slate-100 hover:w-[21rem]"
                    style="transition: 0.5s">
                    + Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </main>
  </footer>
</main>
