<!-- <p>Manager Page</p> -->

<!-- <th>11</th>

<div *ngFor="let i of [1, 2, 3, 4, 5]">
  <th>{{ i }}</th>
</div> -->
<!--
<div *ngFor="let i of m">
  {{ i }}
</div> -->

<!-- <div *ngFor="let i of numbers">
  {{ i }}
</div> -->

<!-- <div *ngFor="let i of LOOP_TABLE" class="gird">
  <ng-container *ngFor="let item of i.name">
    <div>{{ item }}</div>
  </ng-container>
</div>

<div *ngFor="let i of LOOP_TABLE" class="gird">
  <ng-container *ngFor="let item of i.name">
    <div>{{ item }}</div>
  </ng-container>
</div> -->

<!-- <div *ngFor="let i of numbers">
  {{ i }}
</div> -->

<!--
<ul>
  <li *ngFor="let number of numbers">{{number}}</li>
</ul> -->


<!-- <main>
  <header></header>
  <body>
    <div class="bg-slate-200 h-20">s
    </div>
  </body>
  <footer></footer>
</main> -->

