<main>
  <div class="left-half">
    <img src="../../../../../assets/img/bglogin.jpg" alt="รูปภาพ">
  </div>
  <div class="right-half">
    <!-- เนื้อหาของคุณที่ต้องการใส่ในส่วนด้านขวา -->

    <body class="grid justify-center items-center ml-[50vh]">
      <div class="pt-[90vh] pl-[145vh] fixed">
        <div class=" grid gap-4">
          <p class="text-[40px] text-[#650DAD]">เข้าสู่ระบบ</p>
          <span class="text-[#650DAD]">อีเมล์</span>
          <input type="text"
            class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px] border-[#03a9f4]"
            placeholder="กรุณากรอกข้อมูล" id="username" [formControl]="username"
            (keyup.enter)="signIn(username.value, password.value)" />
          <span class="text-[#650DAD]">รหัสผ่าน</span>
          <input type="password"
            class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px] border-[#03a9f4]"
            placeholder="กรุณากรอกข้อมูล" id="password" [formControl]="password"
            (keyup.enter)="signIn(username.value, password.value)" />
          <div class="flex justify-between h-5">
            <span class="cursor-pointer hover:text-red-500 hover:text-[18px]" style="transition: 0.5s;"
              routerLink="/sign-up"><span class="text-[#dc3545]">สมัครสมาชิก ?</span>
            </span>
            <!-- <span (click)="forgetPassword()" class="cursor-pointer hover:text-red-500 hover:text-[18px]"
              style="transition: 0.5s;">ลืมรหัสผ่าน
              ?</span> -->
          </div>
          <button
            class="h-[50px] w-[250px] text-[1rem] outline-none text-center rounded-md cursor-pointer text-[#fff] bg-[#007bff] hover:bg-[#0069d9]"
            (click)="signIn(username.value, password.value)" style="transition: 0.5s;">
            <p>เข้าใช้งานระบบ</p>
          </button>
          <!-- <span>{{ layout$ | async }}</span> -->
        </div>
      </div>
    </body>
  </div>
</main>

<app-loaders-screen
  *ngIf="((( getLoading$ | async) === true)||(( getCountUserAll$ | async) === null))"></app-loaders-screen>
