<!-- <div class="bg-login">
  <div class="absolute top-[50%] left-[50%] flex text-center gap-5 justify-center items-center flex-col"
    style="transform: translate(-50%, -50%)">
    <h1 class="text-[26px] text-slate-500 placeholder:text-slate-500">
      ลงชื่อเข้าใช้งาน
    </h1>
    <input style="transition: 0.5s"
      class="border-[1px] h-[50px] w-[250px] text-[1rem] outline-none text-center rounded-md hover:w-[300px] cursor-pointer text-slate-500"
      type="email" placeholder="อีเมล" #user id="email" (keyup.enter)="SignIn(user.value, password.value)" />
    <input style="transition: 0.5s"
      class="border-[1px] h-[50px] w-[250px] text-[1rem] outline-none text-center rounded-md hover:w-[300px] cursor-pointer text-slate-500"
      type="password" placeholder="รหัสผ่าน" #password id="password"
      (keyup.enter)="SignIn(user.value, password.value)" />

    <button (click)="SignIn(user.value, password.value)" style="transition: 0.5s"
      class="h-[50px] w-[250px] text-[1rem] outline-none text-center rounded-md cursor-pointer text-slate-500 bg-slate-200 hover:bg-slate-100">
      เข้าสู่ระบบ
    </button>

    {{layout$ | async}}
  </div>
</div> -->
<main class="flex">
  <header class="bg-black h-[100vh] w-[50vh]"></header>

  <body class="grid justify-center items-center ml-[50vh]">
    <div>
      <div class=" grid gap-4">
        <p class="text-[#000] text-[40px]">เข้าสู่ระบบ</p>
        <span>อีเมล์</span>
        <input type="text"
          class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
          placeholder="กรุณากรอกข้อมูล" #email id="email" (keyup.enter)="SignIn(email.value, password.value)" />
        <span>รหัสผ่าน</span>
        <input type="text"
          class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
          placeholder="กรุณากรอกข้อมูล" #password id="password" (keyup.enter)="SignIn(email.value, password.value)" />
        <div class="flex justify-end h-5">
          <span (click)="forgetPassword()" class="cursor-pointer hover:text-red-500 hover:text-[18px]"
            style="transition: 0.5s;">ลืมรหัสผ่าน
            ?</span>
        </div>
        <button
          class="h-[50px] w-[250px] text-[1rem] outline-none text-center rounded-md cursor-pointer text-slate-500 bg-slate-200 hover:bg-slate-100"
          (click)="SignIn(email.value, password.value)" style="transition: 0.5s;">
          <p>เข้าสู่ระบบ</p>
        </button>
        {{layout$ | async}}
      </div>
    </div>
    <div class="grid gap-5">
      <div class="text-center">
        <p class="text-slate-400">Dev.</p>
      </div>
      <div class="gap-5 grid">
        <div>
          <button
            class="h-[40px] w-full text-[1rem] outline-none text-center rounded-md cursor-pointer text-slate-500 bg-slate-200 hover:bg-slate-100"
            routerLink="/ad-dashboard" style="transition: 0.5s;">
            <p>แอดมิน</p>
          </button>
        </div>
        <div>
          <button
            class="h-[40px] w-full text-[1rem] outline-none text-center rounded-md cursor-pointer text-slate-500 bg-slate-200 hover:bg-slate-100"
            routerLink="/t-dashboard" style="transition: 0.5s;">
            <p>อาจารย์</p>
          </button>
        </div>
        <div>
          <button
            class="h-[40px] w-full text-[1rem] outline-none text-center rounded-md cursor-pointer text-slate-500 bg-slate-200 hover:bg-slate-100"
            routerLink="/dashboard" style="transition: 0.5s;">
            <p>นิสิต</p>
          </button>
        </div>
      </div>
    </div>
  </body>
  <footer>
  </footer>
  <app-loaders *ngIf="(isLoading$ | async) === true"></app-loaders>
  {{ isLoggedIn$ | async }}
  {{ role$ | async }}
</main>
