<main>
  <header></header>
  <body>
    <app-form></app-form>
    <!-- <div
      class="bg-slate-200 w-full h-[20rem] rounded-md flex justify-center items-center shadow-md"
    >
      <form class="grid gap-5">
        <div class="flex justify-center items-center gap-5">
          <div class="input-group">
            <label for="project_name">Project Name : </label>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none placeholder:text-slate-500 text-slate-500"
              type="text"
              id="project_name"
              formControlName="project_name"
            />
          </div>
          <div class="input-group">
            <label for="project_date">Project Date : </label>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none placeholder:text-slate-500 text-slate-500"
              type="text"
              id="project_date"
              formControlName="project_date"
            />
          </div>
        </div>
        <div class="flex justify-center items-center">
          <div class="input-group">
            <label for="customer_name">Customer Name : </label>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none placeholder:text-slate-500 text-slate-500"
              type="text"
              id="customer_name"
              formControlName="customer_name"
            />
          </div>
        </div>
      </form>
    </div> -->
  </body>
  <footer></footer>
</main>
