<app-sidebar>
  <!-- free area -->
  <main>
    <header>
      <div
        class="bg-slate-100 w-full h-[5rem] shadow-md flex justify-start items-center p-5"
      >
        <div class="bg-slate-200 w-[15rem] h-[2rem]"></div>
      </div>
    </header>

    <body>
      <div class="p-5">
        <div class="grid xl:grid-cols-2 2xl:grid-cols-8 gap-5">
          <ng-container *ngFor="let item of index">
            <button
              class="bg-slate-200 hover:bg-slate-300 rounded-md h-[100px] xl:col-span-1 2xl:col-span-2 shadow-md justify-center items-center grid hover:h-[120px]"
              style="transition: 0.5s"
            >
              <div class="bg-slate-100 w-[15rem] h-[2rem]"></div>
            </button>
          </ng-container>
        </div>
      </div>
    </body>
    <footer></footer>
  </main>
</app-sidebar>
<router-outlet></router-outlet>
