<main class="p-10">
  <header>
    <div class="flex gap-5 items-center">
      <p class="text-[26px]">แผงควบคุม</p>
      <i class="fa-solid fa-gauge fa-bounce fa-xl"></i>
      <span class="mt-[11px] text-slate-400">แผงควบคุม</span>
    </div>
  </header>

  <body class="grid gap-5 mt-10">

    <div>
      <div class="flex gap-5 items-center">
        <p>จำนวนผู้ใช้งาน</p> <i class="fa-solid fa-user fa-bounce fa-xl"></i>
      </div>
      <div class="flex justify-center items-center gap-5">
        <div class="grid gap-4 border-[1px] mt-2 h-[9rem]  p-5 rounded-md w-full bg-slate-100">
          <div>
            <p>นิสิต</p>
            <div class="text-center">
              <p class="text-[50px]" *ngIf="(user_count_student !== 0)">{{
                user_count_student }}</p>
              <div class="w-[3rem] justify-center items-center m-auto">
                <app-loaders *ngIf="(user_count === 0)&&(isChecked === false)"></app-loaders>
                <ng-container *ngIf="(user_count_student === 0)&&(isChecked === true)">ไม่พบรายการ</ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="grid gap-4 border-[1px] mt-2 h-[9rem]  p-5 rounded-md w-full bg-slate-100">
          <div>
            <p>อาจารย์</p>
            <div class="text-center">
              <p class="text-[50px]" *ngIf="(user_count_teacher !== 0)">{{
                user_count_teacher }}</p>
              <div class="w-[3rem] justify-center items-center m-auto">
                <app-loaders *ngIf="(user_count === 0)&&(isChecked === false)"></app-loaders>
                <ng-container *ngIf="(user_count_teacher === 0)&&(isChecked === true)">ไม่พบรายการ</ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="grid gap-4 border-[1px] mt-2 h-[9rem]  p-5 rounded-md w-full bg-slate-100">
          <div>
            <p>เเอดมิน</p>
            <div class="text-center">
              <p class="text-[50px]" *ngIf="(user_count_admin !== 0)">{{
                user_count_admin }}</p>
              <div class="w-[3rem] justify-center items-center m-auto">
                <app-loaders *ngIf="(user_count_admin === 0)&&(isChecked === false)"></app-loaders>
                <ng-container *ngIf="(user_count_admin === 0)&&(isChecked === true)">ไม่พบรายการ</ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="grid gap-4 border-[1px] mt-2 h-[9rem]  p-5 rounded-md w-full bg-slate-100">
          <div>
            <p>ทั้งหมด</p>
            <div class="text-center">
              <p class="text-[50px]" *ngIf="(user_count !== 0)">{{
                user_count }}</p>
              <div class="w-[3rem] justify-center items-center m-auto">
                <app-loaders *ngIf="(user_count === 0)&&(isChecked === false)"></app-loaders>
                <ng-container *ngIf="(user_count === 0)&&(isChecked === true)">ไม่พบรายการ</ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <p class="ml-3">การแจ้งเตือน</p>
      <div class="grid grid-cols-2 gap-4 border-[1px] mt-2  p-5 rounded-md bg-slate-100">
      </div>
    </div>

  </body>

  <footer>

  </footer>
</main>
