<main>
  <body class="p-5">
    <div>
      <div
        class="bg-slate-200 w-full h-[50px] shadow-md hover:bg-slate-300 hover:h-[5rem] cursor-pointer"
        style="transition: 0.5s"
      ></div>
      <div class="bg-slate-100 w-full h-[30rem] mt-5 shadow-md"></div>
    </div>

    <div class="pt-5">
      <div
        class="bg-slate-200 w-full h-[50px] shadow-md hover:bg-slate-300 hover:h-[5rem] cursor-pointer"
        style="transition: 0.5s"
      ></div>
    </div>

    <div class="flex-row flex gap-5">
      <div
        class="bg-slate-100 w-full h-[40vh] mt-5 shadow-md hover:bg-slate-300 hover:w-[150%] cursor-pointer"
        style="transition: 0.5s"
      ></div>
      <div
        class="bg-slate-100 w-full h-[40vh] mt-5 shadow-md hover:bg-slate-300 hover:w-[150%] cursor-pointer"
        style="transition: 0.5s"
      ></div>
    </div>
  </body>
</main>
