<main class="flex flex-row h-screen">
  <header
    class="sidebar h-screen overflow-auto transition-all duration-300 ease-in-out border-r-[1px] border-[#D0D5DB]"
    [ngClass]="_sidebarOpen ? 'active' : ''"
  >
    <header class="flex justify-center items-center p-5">
      <div
        class="bg-slate-200 w-[10rem] h-[10rem] rounded-full shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
      ></div>
    </header>

    <body class="flex justify-center items-center p-5 flex-col gap-5">
      <div
        class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
      ></div>
      <div
        class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
      ></div>
      <div
        class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
      ></div>
    </body>

    <footer class="flex justify-center items-center p-5">
      <div
        class="bg-slate-200 w-full h-fit rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
      >
        <div class="m-2 text-center text-slate-100">
          <hero-icon
            (click)="onToggleSidebar()"
            name="cog"
            type="outline"
            class="text-slate-100 h-6 w-6 mt-2 cursor-pointer"
          ></hero-icon>
        </div>
      </div>
    </footer>
  </header>

  <body
    class="main flex flex-col flex-grow transition-all duration-300 ease-in-out"
    [style]="_sidebarOpen ? { marginLeft: 0 } : { marginLeft: '-18rem' }"
  >
    <header class="header bg-white py-4 px-8 shadow-md mb-[2px]">
      <div class="text-start flex">
        <hero-icon
          (click)="onToggleSidebar()"
          name="menu"
          type="outline"
          class="text-slate-300 h-6 w-6 cursor-pointer"
        ></hero-icon>
        <div class="text-end flex-grow">{{ today }}</div>
      </div>
    </header>

    <body class="p-5">
      <div>
        <div
          class="bg-slate-200 w-full h-[50px] shadow-md hover:bg-slate-300 hover:h-[5rem]"
          style="transition: 0.5s"
        ></div>
        <div class="bg-slate-100 w-full h-[30rem] mt-5 shadow-md"></div>
      </div>

      <div class="pt-5">
        <div
          class="bg-slate-200 w-full h-[50px] shadow-md hover:bg-slate-300 hover:h-[5rem]"
          style="transition: 0.5s"
        ></div>
      </div>

      <div class="flex-row flex gap-5">
        <div
          class="bg-slate-100 w-full h-[40vh] mt-5 shadow-md hover:bg-slate-300 hover:w-[150%]"
          style="transition: 0.5s"
        ></div>
        <div
          class="bg-slate-100 w-full h-[40vh] mt-5 shadow-md hover:bg-slate-300 hover:w-[150%]"
          style="transition: 0.5s"
        ></div>
      </div>
    </body>
    <footer></footer>
  </body>

  <footer></footer>
</main>
