<main class="p-10">
  <header class="flex justify-between">
    <div class="flex gap-5">
      <p class="text-[26px]">จัดการคำร้อง</p>
      <span class="mt-[11px] text-slate-400">จัดการคำร้อง</span>
    </div>
    <div class="flex items-center gap-2">
      <ng-container *ngIf="round_petition$ | async as data">
        <!-- {{ data | json }} -->
        <p class="text-[26px]">{{ getRoundCode(data) }}</p>
      </ng-container>
      <i class="fa-solid fa-clock fa-bounce fa-xl"></i>
    </div>
  </header>

  <body class="mt-10">
    <div class="flex items-center gap-2">

      <p class="ml-3">ตารางบันทึกข้อมูล</p>
      <i class="fa-solid fa-feather fa-bounce fa-xl"></i>
    </div>
    <ng-container *ngIf="data_petition$ | async as data">
      <div class="grid gap-4 border-[1px] mt-2 p-5 rounded-md bg-slate-100">
        <div class="overflow-auto h-[70vh] p-5">
          <ng-container *ngIf="(data_petition$ | async) as data">
            <form *ngIf="data.length <= 0; else Success " [formGroup]="form" class="grid gap-5"
              (ngSubmit)="onCreatePetition()">
              <!-- <div class="flex gap-5 items-center">
                <select formControlName="prefix" class="shadow-md rounded-md w-[30rem] h-10 pl-2">
                  <option value='' selected disabled>คำนำหน้า</option>
                  <ng-container *ngFor="let option of dropdown">
                    <option [value]="option.value">
                      {{ option.name }}
                    </option>
                  </ng-container>
                </select>
                <span class=" w-[5rem]">ชื่อ</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="ชื่อ" formControlName="name" />
                <span class=" w-[5rem]">นามสกุล</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="นามสกุล " formControlName="surname" />
              </div> -->
              <!-- <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">รหัสนิสิต</span>
                <input type="text"
                  class="rounded-md w-[10rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="รหัสนิสิต " formControlName="student_code" />
                <span class=" w-[5rem]">ชั้นปีที่</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="ชั้นปีที่ " formControlName="year" />
              </div> -->
              <!-- <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">สาขา</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="สาขาวิชา " formControlName="major" />
                <span class=" w-[5rem]">หมายเลขโทรศัพท์</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="หมายเลขโทรศัพท์ " formControlName="phone_number" />
                <span class=" w-[5rem]">อีเมล์</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="อีเมล์ " formControlName="email" />
              </div> -->
              <!-- <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">ที่อยู่อาศัย</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="ที่อยู่อาศัย " formControlName="address" />
              </div> -->
              <!-- <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">รายละเอียด</span>
                <textarea formControlName="address_details"
                  placeholder="ที่อยู่โดยละเอียด เช่น บ้านเลขที่ , หมู่บ้าน , ตำบล/แขวง , อำเภอ/เขต , จังหวัด , รหัสไปรษณีย์ และอื่นๆ "
                  class="max-h-28 min-h-[112px] p-2 rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"></textarea>
              </div> -->
              <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">ชื่อสถานที่ฝึกงาน</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="ชื่อสถานที่ฝึกงาน " formControlName="company" />
                <!-- <span>เรียน</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="เรียน(ให้ระบุชื่อบุคคลหรือตำแหน่งที่ต้องการส่งหนังสือขอความอนุเคราะห์ เช่น ผู้จัดการฝ่ายบุคคล, หัวหน้าส่วนงานไอที)"
                  formControlName="position_company" /> -->
              </div>
              <div class="flex gap-5 items-center">
                <!-- <span>ชื่อสถานที่ฝึกงาน</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="ชื่อสถานที่ฝึกงาน " formControlName="company" /> -->
                <span class=" w-[5rem]">ตำแหน่ง</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="เรียน(ให้ระบุชื่อบุคคลหรือตำแหน่งที่ต้องการส่งหนังสือขอความอนุเคราะห์ เช่น ผู้จัดการฝ่ายบุคคล, หัวหน้าส่วนงานไอที)"
                  formControlName="position_company" />
              </div>
              <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">รายละเอียด</span>
                <textarea formControlName="company_details"
                  placeholder="ข้อมูลสภานที่ฝึกงานโดยละเอียด เช่น บ้านเลขที่ , หมู่บ้าน , ตำบล/แขวง , อำเภอ/เขต , จังหวัด , รหัสไปรษณีย์ และอื่นๆ"
                  class="max-h-28 min-h-[112px] p-2 rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"></textarea>
              </div>
              <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">หมายเลขโทรศัพท์</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="หมายเลขโทรศัพท์ของสถานที่ฝึกงาน " formControlName="phone_company" />
                <span class=" w-[5rem]">ลักษณะงาน</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="รายละเอียดหรือลักษณะงานที่นิสิตรับผิดชอบ" formControlName="work_details" />
                <span class=" w-[5rem]">อีเมล์</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="หมายเลขโทรสารของสถานที่ฝึกงาน" formControlName="email" />
              </div>
              <div class="flex gap-5 items-center">
                <span class=" w-[5rem]">ระยะเวลาฝึกงาน</span>
                <input type="date"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  formControlName="startDate" />
                <span class=" w-[5rem]">ถึง</span>
                <input type="date"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  formControlName="endDate" />
                <!-- <span class=" w-[5rem]">อีเมล์</span>
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="หมายเลขโทรสารของสถานที่ฝึกงาน" formControlName="email" /> -->
              </div>
              <!-- <div class="flex gap-5">
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="การส่งเอกสารให้แหล่งฝึกงาน " formControlName="company" />
                <input type="text"
                  class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"
                  placeholder="หมายเลขโทรสารของสถานที่ฝึกงาน" formControlName="company" />
              </div> -->
              <div class="grid gap-5 justify-start items-center">
                <div class="flex justify-center items-center gap-5 w-full">
                  <span>การลงทะเบียนเรียนในภาคเรียนหน้า</span>
                  <input class="shadow-none border-none w-[20px]" type="radio" value="00"
                    formControlName="register_next_semester">
                  <span>ลงทะเบียนวิชาฝึกงานวิชาเดียว</span>
                  <input class="shadow-none border-none w-[20px]" type="radio" value="01"
                    formControlName="register_next_semester">
                  <span>ลงทะเบียนวิชาฝึกงานร่วมกับวิชาอื่น</span>
                </div>

                <div class="flex justify-center items-center gap-5">
                  <span class="pl-10">การส่งเอกสารให้แหล่งฝึกงาน</span>
                  <input class="shadow-none border-none w-[20px]" type="radio" value="00"
                    formControlName="delivery_of_documents">
                  <span>นิสิตส่งหนังสือเองให้กับทางสถานประกอบการ</span>
                  <input class="shadow-none border-none w-[20px]" type="radio" value="01"
                    formControlName="delivery_of_documents">
                  <span>คณะจัดส่งให้ทาง ไปรษณีย์ EMS</span>
                  <input class="shadow-none border-none w-[20px]" type="radio" value="02"
                    formControlName="delivery_of_documents">
                  <span>จัดส่งทาง อีเมล์</span>
                </div>
              </div>
              <!-- <div>
                <textarea formControlName="company_details"
                  placeholder="ข้อมูลสภานที่ฝึกงานโดยละเอียด เช่น บ้านเลขที่ , หมู่บ้าน , ตำบล/แขวง , อำเภอ/เขต , จังหวัด , รหัสไปรษณีย์ และอื่นๆ "
                  class="max-h-28 min-h-[112px] p-2 rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-300 text-black-500 text-ellipsis"></textarea>
              </div> -->
              <span class="text-red-500">หมายเหตุ: นิสิตจะต้องตรวจสอบสอบข้อมูลให้ถูกต้องก่อนส่ง
                และต้องยื่นภายในเวลาที่กำหนดตามปฏิทินการฝึกงานของคณะด้วยนะคะ</span>
              <span class="text-red-500"> * จำเป็นต้องกรอกข้อมูล</span>
              <div class="justify-end flex">
                <button
                  class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-blue-500 bg-blue-300 hover:text-slate-100 hover:w-[21rem]"
                  style="transition: 0.5s" type="submit">
                  <div class="flex items-center gap-2 justify-center">
                    <i class="fa-solid fa-box-archive fa-shake" style="color: #fff;"></i>
                    <p class="text-[#fff]">ส่งแบบฟอร์ม</p>
                  </div>
                </button>
              </div>
            </form>
            <ng-template #Success>
              <div>
                <div class="grid gap-4 border-[1px] mt-2 p-5 rounded-md bg-slate-50">
                  <p>ส่งแบบฟอร์มเรียบร้อยแล้ว</p>
                </div>
              </div>
            </ng-template>
          </ng-container>

        </div>
      </div>
    </ng-container>

  </body>
  <footer></footer>

  <ng-container>
    <app-loaders-screen *ngIf="(status_loading$ | async) === true"></app-loaders-screen>
  </ng-container>
</main>
