<main class="p-10">
  <header>
    <div class="flex gap-2">
      <p class="text-[26px]">จัดการคำร้อง</p>
      <span class="mt-[11px] text-slate-400">จัดการคำร้อง</span>
    </div>
  </header>

  <body class="mt-10">
    <p class="ml-3">ตารางบันทึกข้อมูล</p>
    <div class="grid gap-4 border-[1px] mt-2  p-5 rounded-md bg-slate-100">
      <form [formGroup]="form" class="grid gap-5 ">
        <div class="flex gap-5">
          <select formControlName="prefix" class="shadow-md rounded-md w-[30rem] h-10 pl-2">
            <option value='' selected disabled>คำนำหน้า</option>
            <ng-container *ngFor="let option of dropdown">
              <option [value]="option.value">
                {{ option.name }}
              </option>
            </ng-container>
          </select>
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="ชื่อ" formControlName="name" />
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="นามสกุล " formControlName="surname" />
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="รหัสนิสิต " formControlName="student_code" />
        </div>
        <div class="flex gap-5">
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="ชั้นปีที่ " formControlName="year" />
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="สาขาวิชา " formControlName="major" />
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="หมายเลขโทรศัพท์ " formControlName="phone_number" />
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="อีเมล์ " formControlName="email" />
        </div>
        <div class="flex gap-5">
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="ที่อยู่อาศัย " formControlName="address" />
        </div>
        <div>
          <textarea formControlName="address_details"
            placeholder="ที่อยู่โดยละเอียด เช่น บ้านเลขที่ , หมู่บ้าน , ตำบล/แขวง , อำเภอ/เขต , จังหวัด , รหัสไปรษณีย์ และอื่นๆ "
            class="max-h-28 min-h-[112px] p-2 rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"></textarea>
        </div>
        <div>
          <input type="text"
            class="rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
            placeholder="สถานที่ฝึกงาน " formControlName="company" />
        </div>
        <div>
          <textarea formControlName="company_details"
            placeholder="ข้อมูลสภานที่ฝึกงานโดยละเอียด เช่น บ้านเลขที่ , หมู่บ้าน , ตำบล/แขวง , อำเภอ/เขต , จังหวัด , รหัสไปรษณีย์ และอื่นๆ "
            class="max-h-28 min-h-[112px] p-2 rounded-md w-full h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"></textarea>
        </div>
        <div>
          <div class="bg-[#fff] w-full h-[5rem] shadow-md rounded-md"></div>
        </div>
      </form>
      <!-- <div>
        <span class="text-slate-400">จัดการข้อมูล</span>
      </div> -->
      <!-- <div class="flex justify-center items-center gap-5">
        <button class="bg-[#0BB7AF] hover:bg-[#30bbb4]">ตกลง</button>
        <button>ยกเลิก</button>
      </div> -->
    </div>
  </body>
  <footer></footer>
</main>
