<!-- sidebar -->
<main class="flex flex-row h-screen">
  <!-- left menu -->
  <header
    class="sidebar h-screen overflow-auto transition-all duration-300 ease-in-out border-r-[1px] border-[#D0D5DB]"
    [ngClass]="_sidebarOpen ? 'active' : ''"
  >
    <!-- profile -->
    <header class="flex justify-center items-center p-5">
      <div
        class="bg-slate-200 w-[10rem] h-[10rem] rounded-full shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
      ></div>
    </header>

    <!-- menu  -->
    <body class="flex justify-center items-center p-5 flex-col gap-5">
      <div
        class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
        routerLink="/dashboard"
      >
        <div
          class="flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100"
        >
          <span>Dashboard</span>
        </div>
      </div>
      <div
        class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
        routerLink="/card"
      >
        <div
          class="flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100"
        >
          <span>Card</span>
        </div>
      </div>
      <div
        class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
        routerLink="/show-data"
      >
        <div
          class="flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100"
        >
          <span>Table</span>
        </div>
      </div>
      <div
        class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
        routerLink="/add-data"
      >
        <div
          class="flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100"
        >
          <span>+ Add</span>
        </div>
      </div>
    </body>

    <!-- logout -->
    <footer class="flex justify-center items-center p-5">
      <div
        class="bg-slate-200 w-full h-fit rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s"
      >
        <div class="m-2 text-center text-slate-100">
          <hero-icon
            (click)="onToggleSidebar()"
            name="cog"
            type="outline"
            class="text-slate-100 h-6 w-6 mt-2 cursor-pointer"
          ></hero-icon>
        </div>
      </div>
    </footer>
  </header>

  <!-- navbar -->
  <body
    class="main flex flex-col flex-grow transition-all duration-300 ease-in-out"
    [style]="_sidebarOpen ? { marginLeft: 0 } : { marginLeft: '-18rem' }"
  >
    <header class="header bg-white py-4 px-8 shadow-md mb-[2px]">
      <div class="text-start flex">
        <hero-icon
          (click)="onToggleSidebar()"
          name="menu"
          type="outline"
          class="text-slate-400 h-6 w-6 cursor-pointer"
        ></hero-icon>
        <div class="text-end flex-grow text-slate-500">{{ today }}</div>
      </div>
    </header>
    <!-- free area -->
    <ng-content></ng-content>
  </body>
</main>
