<!-- <main>
  <header>
    <div class="w-full flex justify-start items-start bg-slate-100 p-5">
      <div class="flex gap-5">
        <p class="text-[26px]">ตรวจสอบคำร้องขอฝึกงานของนิสิต</p>
        <span class="mt-[11px] text-slate-400">ตรวจสอบคำร้องขอฝึกงานของนิสิต</span>
      </div>
    </div>
    <div>
      <div class="w-full h-[15rem] flex justify-center items-center bg-slate-100">
        <div class="grid gap-5 justify-center items-center text-center">
          <div class="flex justify-center items-center gap-5">
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="เลขที่คำร้อง" />
            <div class="cursor-pointer border-[1px] p-2 rounded-md shadow-md bg-slate-400"
              (click)="goToSettingPetition()">
              <i class="fa-solid fa-gear fa-shake fa-xl" style="color: #fff;"></i>
            </div>
          </div>
          <div class="flex justify-center items-center">
            <div class="flex gap-5 justify-center items-center">
              <button
                class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-blue-500 bg-blue-300 hover:text-slate-100 hover:w-[21rem]"
                style="transition: 0.5s">
                + ค้นหา
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <body>
  </body>
  <footer></footer>
</main> -->

<main>
  <header>
    <div class="w-full flex justify-start items-start bg-slate-100 p-5">
      <div class="flex gap-5 items-center">
        <p class="text-[26px]">ตรวจสอบคำร้องขอฝึกงานของนิสิต</p>
        <i class="fa-solid fa-book fa-bounce fa-xl"></i>
        <span class="mt-[11px] text-slate-400">ตรวจสอบคำร้องขอฝึกงานของนิสิต</span>
      </div>
    </div>
    <div>
      <div class="w-full h-[5rem] flex justify-center items-center bg-slate-100">
        <div class="grid gap-5">
          <div class="flex justify-center items-center gap-5">
            <!-- <select
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500">
              <option value="" selected disabled>นิสิตสาขา</option>
              <ng-container *ngFor="let option of dropdown">
                <option [value]="option.name">
                  <span>{{ option.name }}</span>
                </option>
              </ng-container>
            </select> -->
            <input type="text" [(ngModel)]="searchFilter"
              class="rounded-md w-[50rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="ค้นหาโดย รหัสนิสิต ชื่อ นามสกุล สถานประกอบการ เเละอื่นๆ" />
          </div>
          <!-- <div class="flex justify-center items-center">
            <textarea type="text"
              class="rounded-md w-full h-28 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 max-h-28 min-h-[112px] pt-3 text-ellipsis"
              placeholder="Please fill out Description"></textarea>
          </div> -->
          <div class="flex justify-center items-center">
            <!-- <div class="flex gap-5 justify-center items-center">
              <button
                class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-blue-500 bg-blue-300 hover:text-slate-100 hover:w-[21rem]"
                style="transition: 0.5s">
                + ค้นหา
              </button>
            </div> -->
            <!-- <div class="flex gap-5 justify-center items-center">
              <button
                class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-yellow-500 bg-yellow-300 hover:text-slate-100 hover:w-[21rem]"
                style="transition: 0.5s">
                + Search
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <body>
    <ng-container *ngIf="data$ | async as data">
      <table class="table">
        <thead>
          <tr class="bg-slate-100">
            <th class="w-[5%]"> ลำดับ </th>
            <th class="w-[15%]"> เลขเอกสาร </th>
            <th class="w-[10%]"> รหัสนิสิต </th>
            <th class="w-[15%]" colspan="2"> ชื่อ - นามสกุล </th>
            <th class="w-[15%]"> สถานประกอบการ </th>
            <!-- <th class="w-[15%]"> ข้อมูลสถานประกอบการ </th> -->
            <th class="w-[10%]"> สถานะ </th>
            <th class="w-[25%]"> จัดการ </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data | filter:searchFilter ; let i = index">
          <!-- <tr [ngClass]="item.is_approved_success ? 'bg-green-100' : ''"> -->
          <tr
            [ngClass]="item.is_approved_success ? 'bg-green-100' : (item.is_approved_cancel ? 'bg-red-100' : (item.is_approved_report || !item.is_approved_report ? 'bg-yellow-100' : ''))">
            <td> {{ i + 1 }} </td>
            <td> {{ item.id }} </td>
            <td> {{ item.student_code }} </td>
            <td> {{ item.name }} </td>
            <td> {{ item.surname }} </td>
            <td> {{ item.company }} </td>
            <!-- <td> {{ item.company_details }} </td> -->
            <td> {{ DoGetStatusApprove(item) }} </td>
            <td class="text-center" [colSpan]="1">
              <div class="flex gap-5 justify-center items-center col-span-2">
                <!-- <button class="shadow-md rounded-md h-[40px] px-1 bg-blue-400 hover:bg-blue-500 cursor-pointer"
                  style="transition: 0.5s">
                  <div class="flex justify-center items-center gap-2">
                    <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #fff;"></i>
                  </div>
                </button> -->
                <button (click)="DoResetToFalse(item)"
                  class="shadow-md rounded-md h-[40px] px-1 bg-yellow-500 hover:bg-yellow-600 cursor-pointer"
                  style="transition: 0.5s">
                  <div class="flex justify-center items-center gap-2">
                    <i class="fa-solid fa-recycle fa-spin fa-xl" style="color: #fff;"></i>
                    <p class="text-slate-100">รีเซ็ต</p>
                  </div>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </body>
  <footer></footer>
</main>
