<main class="p-10">
  <header>
    <div class="flex gap-2">
      <p class="text-[26px]">จัดการผู้ใช้งาน</p>
      <span class="mt-[11px] text-slate-400">จัดการผู้ใช้งาน</span>
    </div>
  </header>

  <body class="grid gap-5 mt-10">
    <div>
      <p class="mb-3">จัดการผู้ใช้งาน</p>
      <div class="w-full h-[25rem] flex justify-center items-center bg-slate-100 border-[1px] rounded-md">
        <div class="grid gap-5">
          <div class="flex justify-center items-center gap-5">
            <select
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500"
              [formControl]="role">
              <option value="" selected disabled>สิทธิ์การเข้าถึง</option>
              <ng-container *ngFor="let option of dropdown">
                <option [value]="option.value">
                  <span>{{ option.name }}</span>
                </option>
              </ng-container>
            </select>
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="รหัสประจำตัว" [formControl]="code" />
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="ไอดี" [formControl]="username" />
          </div>
          <div class="flex gap-5 justify-center items-center">
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="ชื่อผู้ใช้" [formControl]="user" />
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="คณะ" [formControl]="group" />
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
              placeholder="สาขา" [formControl]="major" />
          </div>
          <div class="text-center justify-center flex">
            <span class="text-red-500"># รหัสผ่านเริ่มต้น 123456789</span>
          </div>
          <div class="flex justify-center items-center">
            <div class="flex">
              <button
                class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-blue-500 bg-blue-300 hover:text-slate-100 hover:w-[21rem]"
                style="transition: 0.5s" (click)="Add(username.value)">
                + Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer>
  </footer>
</main>
