<main class="p-10">
  <header>
    <div class="flex gap-2">
      <p class="text-[26px]">จัดการผู้ใช้งาน</p>
      <span class="mt-[11px] text-slate-400">จัดการผู้ใช้งาน</span>
    </div>
  </header>

  <body class="grid gap-5 mt-10">
    <div class="gap-5 grid">
      <p class="mb-3">จัดการผู้ใช้งาน</p>
      <div class="w-full h-[20rem] flex justify-center items-center bg-slate-100 border-[1px] rounded-md">
        <form [formGroup]="form" (ngSubmit)="Add(form.value.username)">
          <div class="grid gap-5">
            <div class="flex justify-center items-center gap-5">
              <select
                [ngClass]="isRoleValidate ? 'border-[#e20000] border-[1px] rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500' : 'rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500'"
                formControlName="role">
                <option value='' selected disabled>สิทธิ์การเข้าถึง</option>
                <ng-container *ngFor="let option of dropdown">
                  <option [value]="option.value">
                    {{ option.name }}
                  </option>
                </ng-container>
              </select>
              <input type="text"
                class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
                placeholder="รหัสประจำตัว" formControlName="code" />
              <input type="text"
                class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
                placeholder="ไอดี" formControlName="username" />
            </div>
            <div class="flex gap-5 justify-center items-center">
              <input type="text"
                class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 text-ellipsis"
                placeholder="ชื่อผู้ใช้" formControlName="user" />
              <select
                [ngClass]="isGroupValidate ? 'border-[#e20000] border-[1px] rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500' : 'rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500'"
                formControlName="group">
                <option value="" selected disabled>คณะ</option>
                <ng-container *ngFor="let option of dropdownGroup">
                  <option [value]="option.value">
                    <span>{{ option.name }}</span>
                  </option>
                </ng-container>
              </select>
              <select
                [ngClass]="isMajorValidate ? 'border-[#e20000] border-[1px] rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500' : 'rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500'"
                formControlName="major">
                <option value="" selected disabled>สาขา</option>
                <ng-container *ngFor="let option of dropdownMajor">
                  <option [value]="option.value">
                    <span>{{ option.name }}</span>
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="text-center justify-center flex">
              <span class="text-red-500"># รหัสผ่านเริ่มต้น 123456789</span>
            </div>
            <div class="flex justify-center items-center">
              <div class="flex">
                <button
                  class="h-10 shadow-md rounded-md w-[20rem] text-slate-100 ml-5 hover:bg-blue-500 bg-blue-300 hover:text-slate-100 hover:w-[21rem]"
                  style="transition: 0.5s" type="submit">
                  + Add
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <ng-container *ngIf="isCheckedStatusEditLoading === true">
        <div class="w-full h-[22rem] bg-slate-100 border-[1px] rounded-md">
          <div class="px-[20%] pt-[2%] grid gap-5">
            <!-- {{ user_data | json}} -->
            <div class="grid justify-center items-center m-auto">
              <p class="text-[26px]">รายละเอียด</p>
            </div>
            <div class="gap-5 grid">
              <div class="flex justify-between gap-5">
                <div class="h-10 bg-slate-200 shadow-md rounded-md flex justify-center items-center w-[50%]">
                  <p>ชื่อ : {{ user_data.user }} </p>
                </div>
                <div class="h-10 bg-slate-200 shadow-md rounded-md flex justify-center items-center w-[50%]">
                  <p>ID : {{ user_data.username }} </p>
                </div>
              </div>
              <div class="flex justify-between gap-5">
                <div class="h-10 bg-slate-200 shadow-md rounded-md flex justify-center items-center w-[50%]">
                  <p>รหัสประจำตัว : {{ user_data.code }} </p>
                </div>
                <div class="h-10 bg-slate-200 shadow-md rounded-md flex justify-center items-center w-[50%]">
                  <p>สาขา : {{ user_data.major }} </p>
                </div>
              </div>
              <div class="flex justify-between gap-5">
                <div class="h-10 bg-slate-200 shadow-md rounded-md flex justify-center items-center w-[50%]">
                  <p>คณะ : {{ user_data.group }} </p>
                </div>
                <div class="h-10 bg-slate-200 shadow-md rounded-md flex justify-center items-center w-[50%]">
                  <p>สิทธิ์การเข้าถึง : {{ user_data.role }} </p>
                </div>
              </div>
              <div class="h-10 bg-slate-200 shadow-md rounded-md flex justify-center items-center">
                <p>รหัสผ่าน : ********* </p>
                <!-- <p>รหัสผ่าน : {{ user_data.password }} </p> -->
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </body>

  <footer>
  </footer>

  <ng-container>
    <app-loaders-screen *ngIf="isCheckedStatusAddLoading === true"></app-loaders-screen>
    <app-loaders-screen *ngIf="isCheckedStatusGetByUsername === true"></app-loaders-screen>
  </ng-container>
</main>
