.table-class {
  background-color: #ffffff;
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;

  thead {
    background-color: #eff3f8;

    th {
      @apply border-b border-b-slate-200 text-slate-500;
      padding: 1rem;

      &:first-child {
        border-radius: 0.4rem 0 0 0;
      }
      &:last-child {
        border-radius: 0 0.4rem 0 0;
      }
    }
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
  }

  tbody {
    background-color: #ffffff;
    display: block;
    height: 100%;
    overflow: auto;

    tr {
      @apply border-b border-b-slate-200;

      td {
        @apply text-slate-500;
        padding: 1rem;
        // color: #000000;

        &:first-child {
          border-radius: 0 0 0 0.4rem;
        }
        &:last-child {
          border-radius: 0 0 0.4rem 0;
        }
      }
    }
  }
}
