table {
  @apply text-slate-500;
  width: 100%;
}

table th,
table td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table th {
  text-align: center;
  font-weight: bold;
}
