<main>
  <header>
    <!-- <div
      class="bg-slate-100 w-full h-[5rem] shadow-md flex justify-start items-center p-5"
    >
      <div class="bg-slate-200 w-[15rem] h-[2rem]"></div>
    </div> -->
  </header>

  <body>
    <!-- @FormGroup I -->
    <div>
      <div class="w-full h-[5rem] flex justify-center items-center bg-slate-100">
        <div class="bg-slate-100 w-full h-[5rem] shadow-md flex justify-start items-center p-5">
          <div class="bg-slate-200 w-[15rem] h-[2rem] text-slate-400">
            <p class="text-[20px] pl-5">@FormGroup I</p>
          </div>
        </div>
      </div>
      <div class="p-5">
        <div class="flex justify-center items-center gap-5">
          <div>
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              placeholder="กรุณากรอกข้อมูล" [formControl]="value1" />
          </div>
          <div>
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              placeholder="กรุณากรอกข้อมูล" [formControl]="value2" />
          </div>
          <div>
            <input type="text"
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              placeholder="กรุณากรอกข้อมูล" [formControl]="value3" />
          </div>
          <div class="justify-center items-center grid">
            <button
              class="h-10 shadow-md rounded-md w-[10rem] text-slate-100 hover:bg-slate-200 bg-slate-300 hover:text-slate-500"
              style="transition: 0.5s" (click)="onSubmitFormGroupI()">
              Submit$
            </button>
          </div>
        </div>
        <div class="flex justify-center items-center pt-5">
          {{ data_form_1 | json }}
        </div>
      </div>
    </div>

    <!-- @FormGroup II -->
    <div>
      <div class="w-full h-[5rem] flex justify-center items-center bg-slate-100">
        <div class="bg-slate-100 w-full h-[5rem] shadow-md flex justify-start items-center p-5">
          <div class="bg-slate-200 w-[15rem] h-[2rem] text-slate-400">
            <p class="text-[20px] pl-5">@FormGroup II</p>
          </div>
        </div>
      </div>
      <div class="p-5">
        <form [formGroup]="form2" class="flex justify-center items-center gap-5">
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              type="text" id="value4" placeholder="กรุณากรอกข้อมูล" formControlName="value4" />
          </div>
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              type="text" id="value5" placeholder="กรุณากรอกข้อมูล" formControlName="value5" />
          </div>
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              type="text" id="value6" placeholder="กรุณากรอกข้อมูล" formControlName="value6" />
          </div>
          <div class="justify-center items-center grid">
            <button
              class="h-10 shadow-md rounded-md w-[10rem] text-slate-100 hover:bg-slate-200 bg-slate-300 hover:text-slate-500"
              style="transition: 0.5s" (click)="onSubmitFormGroupI()">
              Submit$
            </button>
          </div>
        </form>
      </div>
      <div class="flex justify-center items-center pt-5">
        {{ data_form_2 | json }}
      </div>
    </div>

    <!-- @NgForm -->
    <div>
      <div class="w-full h-[5rem] flex justify-center items-center bg-slate-100">
        <div class="bg-slate-100 w-full h-[5rem] shadow-md flex justify-start items-center p-5">
          <div class="bg-slate-200 w-[15rem] h-[2rem] text-slate-400">
            <p class="text-[20px] pl-5">@NgForm</p>
          </div>
        </div>
      </div>
      <div class="p-5">
        <form #data="ngForm" (ngSubmit)="onSubmit(data)" class="flex justify-center gap-5" novalidate>
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              name="first" ngModel required #first="ngModel" placeholder="กรุณากรอกข้อมูล" />
          </div>
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              name="last" ngModel placeholder="กรุณากรอกข้อมูล" />
          </div>
          <div class="justify-center items-center grid">
            <button
              class="h-10 shadow-md rounded-md w-[10rem] text-slate-100 hover:bg-slate-200 bg-slate-300 hover:text-slate-500"
              style="transition: 0.5s" (click)="onSubmitFormGroupI()">
              Submit$
            </button>
          </div>
        </form>
        <div class="text-slate-400">
          <p>First name value: {{ first.value }}</p>
          <p>First name valid: {{ first.valid }}</p>
          <p>Form value: {{ data.value | json }}</p>
          <p>Form valid: {{ data.valid }}</p>
        </div>
      </div>
    </div>

    <!-- @Form -->
    <div>
      <div class="w-full h-[5rem] flex justify-center items-center bg-slate-100">
        <div class="bg-slate-100 w-full h-[5rem] shadow-md flex justify-start items-center p-5">
          <div class="bg-slate-200 w-[15rem] h-[2rem] text-slate-400">
            <p class="text-[20px] pl-5">@Form</p>
          </div>
        </div>
      </div>
      <div class="p-5">
        <div class="flex justify-center gap-5">
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              placeholder="กรุณากรอกข้อมูล" type="text" id="name" #name />
          </div>
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              placeholder="กรุณากรอกข้อมูล" type="text" id="surname" #surname />
          </div>
          <div>
            <button
              class="h-10 shadow-md rounded-md w-[10rem] text-slate-100 hover:bg-slate-200 bg-slate-300 hover:text-slate-500"
              style="transition: 0.5s" (click)="onSubmitForm(name.value, surname.value)">
              $Submit
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- @FormControls -->
    <div>
      <div class="w-full h-[5rem] flex justify-center items-center bg-slate-100">
        <div class="bg-slate-100 w-full h-[5rem] shadow-md flex justify-start items-center p-5">
          <div class="bg-slate-200 w-[15rem] h-[2rem] text-slate-400">
            <p class="text-[20px] pl-5">@FormControl</p>
          </div>
        </div>
      </div>
      <div>
        <div class="p-5 flex justify-center gap-5">
          <div>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none pl-5 placeholder:text-slate-500 text-slate-500 border-[1px]"
              placeholder="กรุณากรอกข้อมูล" type="text" [formControl]="value7" />
          </div>
          <div>
            <button
              class="h-10 shadow-md rounded-md w-[10rem] text-slate-100 hover:bg-slate-200 bg-slate-300 hover:text-slate-500"
              style="transition: 0.5s" (click)="onSubmitFormControl()">
              $Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer></footer>
</main>
