<main>
  <header></header>
  <body class="py-5">
    <div
      class="bg-slate-200 w-full h-[20rem] rounded-md flex justify-center items-center shadow-md"
    >
      <form class="grid gap-5">
        <div class="flex justify-center items-center gap-5">
          <div class="input-group">
            <label for="total_budget_no_vat">Total Budget No Vat : </label>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none placeholder:text-slate-500 text-slate-500"
              type="text"
              id="total_budget_no_vat"
              formControlName="total_budget_no_vat"
            />
          </div>
          <div class="input-group">
            <label for="vat_value">Vat Value : </label>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none placeholder:text-slate-500 text-slate-500"
              type="text"
              id="vat_value"
              formControlName="vat_value"
            />
          </div>
        </div>
        <div class="flex justify-center items-center">
          <div class="input-group">
            <label for="total_budget">Total Budget : </label>
            <input
              class="rounded-md w-[25rem] h-10 shadow-md focus:outline-none placeholder:text-slate-500 text-slate-500"
              type="text"
              id="total_budget"
              formControlName="total_budget"
            />
          </div>
        </div>
      </form>
    </div>
  </body>
  <footer></footer>
</main>
