<main class="flex flex-row h-screen">
  <header class="sidebar h-screen overflow-auto transition-all duration-200 ease-in-out border-r-[1px] border-[#D0D5DB]"
    [ngClass]="isOpen  ? 'active' : ''">

    <header class="pt-10 text-center justify-center grid">
      <div class="bg-slate-300 w-[245px] h-[220px] rounded-md shadow-md p-8">
        <i class="fa-solid fa-user-graduate fa-9x" style="color: #fff;"></i>
      </div>
      <ng-container *ngFor="let item of data">
        <div class="w-[247px] h-full gap-1 grid pt-5">
          <p class="text-[16px]">{{ item.user }}</p>
          <p>{{ item.code }}</p>
          <p class="text-clip overflow-hidden">{{ item.group }}</p>
          <p>{{ item.major }}</p>
          <p>{{ getRole(item.role) }}</p>
        </div>
      </ng-container>
    </header>

    <body class="flex justify-center items-center p-5 flex-col gap-5">
      <!-- STUDENT -->
      <ng-container *ngIf="(role$ | async) === 'student'">
        <ng-container *ngFor="let item of menuStudent">
          <div class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300" style="transition: 0.5s"
            (click)="onClickRouter(item)">
            <div class="flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100 cursor-pointer">
              <span>{{ item.name }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="menuStudent.length < 1">
          <p class="text-[20px]">ไม่พบรายการ</p>
        </ng-container>
      </ng-container>

      <!-- ADMIN MENU -->
      <ng-container *ngIf="(role$ | async) === 'admin'">
        <ng-container *ngFor="let item of menuAdmin">
          <div class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300" style="transition: 0.5s"
            (click)="onClickRouter(item)">
            <div class="flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100 cursor-pointer">
              <span>{{ item.name }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="menuAdmin.length < 1">
          <p class="text-[20px]">ไม่พบรายการ</p>
        </ng-container>
      </ng-container>

      <!-- TEACHER -->
      <ng-container *ngIf="(role$ | async) === 'teacher'">
        <ng-container *ngFor="let item of menuTeacher">
          <div class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300" style="transition: 0.5s"
            (click)="onClickRouter(item)">
            <div class="flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100 cursor-pointer">
              <span>{{ item.name }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="menuTeacher.length < 1">
          <p class="text-[20px]">ไม่พบรายการ</p>
        </ng-container>
      </ng-container>
    </body>

    <div>
      <hr class="mx-5">
    </div>

    <footer class="flex justify-center items-center p-5 flex-col gap-5">
      <div (click)="exit()" class="bg-slate-100 w-full h-[40px] rounded-md shadow-md hover:bg-slate-300"
        style="transition: 0.5s">
        <div class=" flex items-center justify-center mt-2 text-slate-400 hover:text-slate-100 cursor-pointer">
          <span>ออกจากระบบ</span>
        </div>
      </div>
      <p class="text-slate-300">Dev. for learning</p>
    </footer>
  </header>

  <ng-container>
    <app-loaders-screen *ngIf="isCheckedStatusSignOut === true"></app-loaders-screen>
  </ng-container>
</main>
