<main class="p-10">
  <header>
    <div class="flex gap-2">
      <p class="text-[26px]">จัดการคำร้อง</p>
      <span class="mt-[11px] text-slate-400">จัดการคำร้อง</span>
    </div>
  </header>

  <body class="mt-10">
    <p class="ml-3">ตารางบันทึกข้อมูล</p>
    <div class="grid grid-cols-2 gap-4 border-[1px] mt-2  p-5 rounded-md bg-slate-100">
      <input placeholder="กรุณากรอกข้อมูล" type="text" name="" id="" class=" col-span-2">
      <input placeholder="กรุณากรอกข้อมูล" type="text" name="" id="">
      <input placeholder="กรุณากรอกข้อมูล" type="text" name="" id="">
      <input placeholder="กรุณากรอกข้อมูล" type="text" name="" id="">
      <input placeholder="กรุณากรอกข้อมูล" type="text" name="" id="">
      <input placeholder="กรุณากรอกข้อมูล" type="text" name="" id="">
      <input placeholder="กรุณากรอกข้อมูล" type="text" name="" id="">
      <div>
        <span class="text-slate-400">จัดการข้อมูล</span>
      </div>
      <div class="flex justify-center items-center gap-5">
        <button class="bg-[#0BB7AF] hover:bg-[#30bbb4]">ตกลง</button>
        <button>ยกเลิก</button>
      </div>
    </div>
  </body>
  <footer></footer>
</main>
