<main class="p-10">
  <header>
    <div class="flex gap-2">
      <p class="text-[26px]">ตรวจสอบคำร้อง</p>
      <span class="mt-[11px] text-slate-400">ตรวจสอบคำร้อง</span>
    </div>
  </header>

  <body class="grid mt-10 gap-5">
    <div>
      <p class="ml-3">ตารางบันทึกข้อมูล</p>
      <div class="grid grid-cols-2 gap-4 border-[1px] mt-2  p-5 rounded-md bg-slate-100">
        <div>
        </div>
      </div>
    </div>
    <div>
      <p class="ml-3">หนังสือขอความอนุเคราะห์ขอฝึกงาน</p>
      <div class="grid grid-cols-2 gap-4 border-[1px] mt-2  p-5 rounded-md bg-slate-100">
        <div>
        </div>
      </div>
    </div>
    <div>
      <p class="ml-3">หนังสือตอบรับ/ปฏิเสธการฝึกงาน</p>
      <div class="grid grid-cols-2 gap-4 border-[1px] mt-2  p-5 rounded-md bg-slate-100">
        <div>
        </div>
      </div>
    </div>
    <div>
      <p class="ml-3">หนังสือส่งตัวนิสิตฝึกงาน</p>
      <div class="grid grid-cols-2 gap-4 border-[1px] mt-2  p-5 rounded-md bg-slate-100">
        <div>
        </div>
      </div>
    </div>
  </body>
  <footer></footer>
</main>
