<main class="p-10">
  <header>
    <div class="flex gap-2">
      <p class="text-[26px]">แผงควบคุม</p>
      <span class="mt-[11px] text-slate-400">แผงควบคุม</span>
    </div>
  </header>

  <body class="grid gap-5 mt-10">
    <div>
      <div>
        <p class="ml-3">คำร้องขอ</p>
      </div>
      <div class="flex justify-center items-center gap-5">
        <div class="grid gap-4 border-[1px] mt-2  p-5 rounded-md w-full bg-slate-100">
          <div>
            <p>รอการอนุมัติ</p>
            <ng-container *ngIf="data_approved_status_false$ | async as data">
              <div class="text-center">
                <p class="text-[50px]">
                  {{ data.length }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="grid gap-4 border-[1px] mt-2  p-5 rounded-md w-full bg-slate-100">
          <div>
            <p>อนุมัติ</p>
            <ng-container *ngIf="data_approved_status_true$ | async as data">
              <div class="text-center">
                <p class="text-[50px]">
                  {{ data.length }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="grid gap-4 border-[1px] mt-2  p-5 rounded-md w-full bg-slate-100">
          <div>
            <p>ปฏิเสธ</p>
            <ng-container *ngIf="data_is_cancel_status_true$ | async as data">
              <div class="text-center">
                <p class="text-[50px]">
                  {{ data.length }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="grid gap-4 border-[1px] mt-2  p-5 rounded-md w-full bg-slate-100">
          <ng-container *ngIf="data$ | async as data">
            <div>
              <p>ทั้งหมด</p>
              <div class="text-center">
                <p class="text-[50px]"> {{ data.length }}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div>
      <div class="flex gap-2 items-center">
        <p>การแจ้งเตือน</p> <i class="fa-solid fa-bell fa-shake fa-xl"></i>
      </div>
      <div class="grid gap-4 mt-2  p-5 rounded-md bg-slate-100 shadow-md">
        <div class="bg-slate-200 rounded-md">
          <ng-container *ngIf="data_approved_status_false$ | async as data">
            <table class="table">
              <thead>
                <tr class="bg-slate-100">
                  <th> ลำดับ </th>
                  <th> รหัสนิสิต </th>
                  <th colspan="2"> ชื่อ - นามสกุล </th>
                  <th> สถานประกอบการ </th>
                  <th colspan="2"> ช่องทางการติดต่อ </th>
                  <th> จัดการ </th>
                </tr>
              </thead>
              <tbody *ngFor="let item of data; let i = index">
                <tr>
                  <td> {{ i + 1 }} </td>
                  <td> {{ item.student_code }} </td>
                  <td> {{ item.name }} </td>
                  <td> {{ item.surname }} </td>
                  <td> {{ item.company }} </td>
                  <td> {{ item.phone_number }} </td>
                  <td> {{ item.email }} </td>
                  <td class="flex justify-center items-center m-auto gap-5">
                    <div (click)="DoApprovePetition(item)"
                      class="shadow-md rounded-md h-[40px] px-5 bg-blue-300 hover:bg-blue-500 cursor-pointer"
                      style="transition: 0.5s">
                      <div class="pt-2">
                        <span class="text-slate-50">อนุมัติ</span>
                        <!-- <i class="fa-solid fa-circle-minus fa-xl" style="color: #fff;"></i> -->
                      </div>
                    </div>
                    <div (click)="DoCancelApprovePetition(item)"
                      class="shadow-md rounded-md h-[40px] px-5 bg-red-300 hover:bg-red-500 cursor-pointer"
                      style="transition: 0.5s">
                      <div class="pt-2">
                        <span class="text-slate-50">ปฏิเสธ</span>
                        <!-- <i class="fa-solid fa-circle-minus fa-xl" style="color: #fff;"></i> -->
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <ng-container *ngIf="data_approved_status_false$ | async as data">
                <td *ngIf="data.length == 0" colspan="8">ไม่พบคำร้องใหม่</td>
              </ng-container>
            </table>
          </ng-container>
        </div>
      </div>
    </div>

  </body>
  <footer></footer>
</main>
